:root {
    --main-color: #fccf2d;
    --highlight-color: #FEE9A0;
}

#source-table { /* only show the source table when editing the page */
    display: none;
}

#inspirator {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    overflow: hidden;
    color: #444;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#found-container {
    background: var(--highlight-color);
    text-align: center;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    height: 20px;
}


/* Class Selectors */

.inspirator__content {
    padding: 10px;
    width: 300px;
    background: var(--main-color);
    flex-grow: 1;
}

.inspirator__content h4 {
    background: var(--highlight-color);
    margin: 0;
    padding: 5px 10px;
}

.inspirator__content td {
    width: 150px;
}

.inspirator__footer {
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    margin: 10px;
    text-align: right;
}

.inspirator__range {
    width: 190px;
    margin-right: 15px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.unfinished {
    color: #ff0000;
}


/* Element Selectors */

#inspirator,
#inspirator h4 {
    border-radius: 10px;
}

#inspirator a,
#program-container a {
    text-decoration: none;
}

#inspirator a:hover {
    text-decoration: underline;
}

#inspirator label {
    display: inline;
    font-weight: normal;
}

#inspirator span > span,
#inspirator label:hover,
#inspirator input:hover {
    cursor: pointer;
}

#inspirator p {
    font-weight: bold;
    margin: 10px 0 !important;
}

#inspirator table {
    text-align: left;
    width: 100%;
    border: none !important;
    clear: both;
}

#inspirator td {
    border: none !important;
}

#inspirator tr.output > td:first-child {
    width: 155px;
}

#inspirator tr.output > td {
    width: 110px;
}

#inspirator tr.output > td:last-child {
    width: 76px;
}


/* Attribute Selectors */

#inspirator input[type=range]:before {
    content: attr(min);
    padding-right: 5px;
}

#inspirator input[type=range]:after {
    content: attr(max);
    padding-left: 5px;
}

#programTable {
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    #programTable {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.programColumn {
    flex-grow: 1;
    flex-basis: 0;
    border: 3px solid white;
    max-width: 250px;
}

.typeLogo {
    background-color: var(--main-color);
    padding: 0.5em;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    border-bottom: 0.3em solid white;
}

.typeLogo h3 {
    margin: 0;
    line-height: 1;
}

.program {
    position: relative;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    background: var(--main-color);
    padding: 0 0.7em;
    width: 100%;
    overflow: hidden;
    color: #444;
    transition: 0.3s;
    line-height: 2em;
}

.program__visible {
    background: var(--main-color);
}

img {
    height: 32px;
    width: 32px;
}

.program img {
    height: 16px;
    width: 16px;
}

.lastRow {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.program:hover {
    background: var(--highlight-color);
    transition: 0.3s;
    cursor: pointer;
}

.program__hidden {
    display: none;
}

.checkbox-container,
.checkbox-container td {
    text-align: center;
}

.hidden-checkbox {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
}

#inspirator label.label-checkbox {
    display: inline-block;
    padding: 4px;
    margin: 4px 12px;
}

.label-checkbox > input[type='checkbox'] + img {
    filter: invert(93%) sepia(19%) saturate(857%) hue-rotate(335deg) brightness(103%) contrast(99%);
}

.label-checkbox > input[type='checkbox']:checked + img {
    filter: invert(0%) sepia(0%) saturate(7482%) hue-rotate(96deg) brightness(94%) contrast(104%);
}

.label-checkbox > input[type='checkbox']:hover + img {
    filter: invert(73%) sepia(85%) saturate(416%) hue-rotate(355deg) brightness(50%) contrast(98%);
}


/* Animations */
.update-counter {
    animation: update-counter-animation 0.5s forwards;
}

@keyframes update-counter-animation {
    from {
        opacity: 0;
        font-size: 14px;
    }
    to {
        opacity: 1;
        font-size: 16px;
    }
}

.programType {
    animation: program-type-animation 1s;
}

@keyframes program-type-animation {
     from {
         background: var(--highlight-color);
     }
     to {
     }
 }
